.draft{

padding:40px;

}

.draft-card{

width:400px;
padding:25px;
background:white;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,.1);

}

.draft-card button{

margin-top:20px;
padding:12px 20px;
background:#4338ca;
color:white;
border:none;
border-radius:10px;

}